<div class="blog-post">
  <h2 class="blog-post-title"><%= blog.title.upcase %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <p><%= blog.body %></p>
  <div class="text-center">
    <%= link_to 'Show', blog, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-success" if logged_in?(:site_admin) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if logged_in?(:site_admin) %>
    <%= link_to blog.status.capitalize, toggle_status_blog_path(blog), class: "btn btn-info" %>
  </div>
</div><!-- /.blog-post -->
